#randomQuestionContainer{
    margin: 2rem;

    .navButton{
        margin: 0.25rem 1rem 0.25rem 0rem;
        padding: 0.25rem 1rem 0.25rem 1rem;
        background-color: #29335c;
        color: white;
        font-family: 'Nunito', sans-serif;
        border: none;
        cursor: pointer;
        border: 1px solid #29335c;
    }

    .navButton:hover{
        background-color: white;
        color: #29335c;
    }

    .context{
        margin: 1rem 1rem 1rem 0rem;
        line-height: 2rem;
    }

    .examNameText{
        font-family: 'Nunito', sans-serif;
        color: black;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .line{
        background-color: #2DC7A0;
        height: 1px;
    }

    .questionText{
        margin: 1rem 1rem 1rem 0rem;
        line-height: 2rem;
    }

    .singleOptionContainer{
        margin: 1rem 1rem 1rem 0rem;

        .inputText{
            margin: 0.25rem 1rem 0.25rem 0rem;
            padding: 0.25rem 1rem 0.25rem 1rem;
            font-family: 'Nunito', sans-serif;
        }

        .inputSubmit{
            margin: 0.25rem 1rem 0.25rem 0rem;
            padding: 0.25rem 1rem 0.25rem 1rem;
            background-color: #29335c;
            color: white;
            font-family: 'Nunito', sans-serif;
            border: none;
            cursor: pointer;
        }

        .inputSubmit:hover{
            background-color: white;
            color: #29335c;
            border: 1px solid #29335c;
        }

        .singleOptionText{
            margin: 0rem 0rem 0rem 1rem;
        }
    }

    .inputRadio{
        border: 1px solid black;
    }
}